.sidebar
  .sidebar__username
    .sidebar__topitems
      %p.sidebar__topitems__name
        = current_user.username
      %ul.sidebar__topitems__icons
        %li
          =link_to new_group_path do
            = icon('fas', 'edit', class: "edit--icon")
        %li
          =link_to edit_user_path(current_user) do
            = icon('fas', 'cog')

  .sidebar__grouplist
    - current_user.groups.each do |group|
      .sidebar__grouplist__group
        =link_to group_messages_path(group) do
          %p.sidebar__grouplist__name
            = group.name
          %p.sidebar__grouplist__message
            = group.show_last_message

